In [4]:
import pandas as pd

In [5]:
# Read in data
nba = pd.read_csv('nba_total.csv')
nba

,Year,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2018-19,Milwaukee Bucks*,82,19780,3555,7471,0.476,1105,3134,0.353,...,0.773,762,3316,4078,2136,615,486,1137,1608,9686
1,2018-19,Golden State Warriors*,82,19805,3612,7361,0.491,1087,2824,0.385,...,0.801,797,2990,3787,2413,625,525,1169,1757,9650
2,2018-19,New Orleans Pelicans,82,19755,3581,7563,0.473,842,2449,0.344,...,0.761,909,2969,3878,2216,610,441,1215,1732,9466
3,2018-19,Philadelphia 76ers*,82,19805,3407,7233,0.471,889,2474,0.359,...,0.771,892,3025,3917,2207,606,432,1223,1745,9445
4,2018-19,Los Angeles Clippers*,82,19830,3384,7178,0.471,821,2118,0.388,...,0.792,796,2936,3732,1970,561,385,1193,1913,9442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2014-15,Utah Jazz,82,19705,2900,6492,0.447,610,1781,0.343,...,0.721,988,2617,3605,1632,623,489,1256,1583,7801
146,2014-15,Miami Heat,82,19730,2885,6330,0.456,556,1659,0.335,...,0.741,747,2461,3208,1626,642,372,1214,1636,7764
147,2014-15,Charlotte Hornets,82,19905,2913,6932,0.420,498,1566,0.318,...,0.748,820,2793,3613,1654,499,448,976,1494,7721
148,2014-15,Philadelphia 76ers,82,19805,2765,6777,0.408,692,2160,0.320,...,0.676,978,2536,3514,1683,789,487,1453,1778,7542
149,2014-15,New York Knicks,82,19855,2882,6726,0.428,560,1614,0.347,...,0.769,867,2443,3310,1746,575,382,1206,1768,7535

In [6]:
# Print out column headers 
for col in nba.columns: 
    print(col)

Year
Team
G
MP
FG
FGA
FG%
3P
3PA
3P%
2P
2PA
2P%
FT
FTA
FT%
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS